
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    background: rgb(255, 255, 255);
}

.container {
    width: 1160px;
    height: 1200px; /* remove later */
    background-size: auto;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 100px;
    position: center;
}

.nav ul {
   list-style-type: none;
   color: white;
}

.button1 {
	color: white;
}

.nav ul li {
	float: center;
	padding-top: 20px;
	padding-bottom: 20px;
    border: 3px solid rgb(255, 255, 255);
	font-size: 50px;
	text-align: center;
}

.nav ul li:last-of-type {
    border-right: 3px solid white;
}

.clear {
    clear: both;
}

.sidebar {
	padding-top: 50px;
    background: rgba(169, 169, 169, 0.192);
    position: center;
	float: center;
	color: white;
	text-align: center;
	font-size: 50px;
}

.h1 {
    width: 50px;
    height: 50px;
    background: orange;
    text-align: center;
}

h2 {
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: 'chunkfiveroman';
}

body {
  background: url(FeistyJaggedBuffalo-size_restricted.gif);
  background-size:auto;
}

.nav ul li:hover {
    background: white;
}

.gc {
    padding: 10px;
    
}